.searchbar {
  width: 50vw;
  position: relative;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #383838;
  cursor: pointer;
  z-index: 1000;
}

.searchbar-input {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  border-radius: 20px;
  border: none;
}
.searchbar-input:focus {
  outline: none;
}

.searchbar-results {
  position: absolute;
  z-index: 1000;
  width: 50vw;
  margin-top: 5px;
  background: #fff;
  border-radius: 20px;
  max-height: fit-content;
  overflow-y: auto;
}
.searchbar-results:empty {
  display: none;
}

.icon-search {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #787878;
}
.searchbar-result-item {
  padding: 10px;
  cursor: pointer;
  color: #787878;
}

.searchbar-result-item:hover {
  background-color: #f1f1f1;
}
