.header-con {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  justify-content: space-between;
  background-color: #383838;
}
.search-bar {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.chat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 35px;
}
.openmenu {
  background-color: transparent;
}
.drawer-menu {
  border-radius: 20px;
  width: 250px;
}
.language {
  width: 40px;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  border: none;
  background-color: #ffffff;
}
.language > button {
  border: none;
  background-color: #ffffff;
}
.language-selector {
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
.user-img {
  border-radius: 50px;
  border: solid 2px black;
}
.user-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.user-profile-mini {
  width: 3rem;
  height: 2rem;

  border: none;
  border-radius: 23px;
}
.user-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.568);
  font-weight: bold;
  width: 20px;
  height: 20px;
  padding: 20px;
  border: none;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.menu-list:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #383838;
}
.user-con:hover {
  cursor: pointer;
  transform: scale(105%);
}
.logo {
  margin-right: 20px;
  font-size: 30px;
  color: #ffffff;
}

.icon {
  font-size: 35px;
  color: #ffffff;
  margin-right: 20px;
}

.drawer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logout {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
.list {
  list-style: none;
  padding: 0;
  font-weight: 500;
  margin: 0;
}

.menu-list {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}
.logout Icon {
  font-weight: bold;
}
.logout-btn {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #515151;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.logout-btn:hover {
  background-color: #a62f2f;
  transform: scale(105%);
}

.show-menu {
  font-size: 30px;
  display: none;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.close-drawer {
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  cursor: pointer;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.1s ease;
  z-index: 1000;
  overflow-y: auto; /* เพิ่มการเลื่อน */
}
.username {
  margin-left: 10px;
}
.close-icon {
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.username .name {
  font-weight: bold;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: start;
}
.menu-list li {
  display: flex;
  align-items: center;
  justify-content: safe;
}
.drawer.open {
  transform: translateX(0%);
}

@media (max-width: 480px) {
  .header-con {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  .logo {
    display: none;
    margin-right: 20px;
    font-size: 40px;
  }
  .icon {
    font-size: 25px;
    margin-right: 10px;
  }
  .show-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    margin-top: 30%;
  }
  .list li {
    font-size: 22px;
    list-style: none;
    margin-bottom: 5%;
  }
}
