.footer-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.footer-list {
  padding: 20px;
  p {
    font-weight: bold;
    margin-bottom: 29px;
  }
  li {
    list-style: none;
    margin-bottom: 20px;
  }
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
}
.footer-group1 {
  display: flex;
  gap: 20px;
}
