.store-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
}

.store-container {
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.store-banner {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.store-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 70%;
  left: 15%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.store-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store-info {
  margin-top: 80px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-divider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.store-name {
  display: flex;
  flex-direction: column;
}

.store-name h1 {
  margin-right: 10px;
}
.store-location {
  font-weight: bold;
  color: #888;
}

.edit-store {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .store-container {
    margin-bottom: 10px;
  }

  .store-image {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 10%;
  }

  .store-info {
    margin-top: 60px;
  }

  .store-divider {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .edit-store {
    margin-top: 10px;
  }
}
/* Mobile */
@media only screen and (max-width: 599px) {
  .store-image {
    width: 150px;
    height: 150px;
    top: 55%;
    left: 50%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .store-image {
    width: 150px;
    height: 150px;
    top: 65%;
    left: 50%;
  }
  .store-name {
    font-size: 12px;
  }
  .edit-store {
    display: flex;
  }
  .store-divider {
    width: 100%;
    display: flex;
    align-items: start;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .store-image {
    width: 150px;
    height: 150px;
    top: 70%;
    left: 10%;
  }
}

@media only screen and (max-width: 599px) {
  .store-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
