.category-container {
  margin-top: 20px;
  margin-bottom: 5%;

  width: 100%;
  height: auto;
}

.category-menu {
  display: flex;
  justify-content: center;
}
.shortmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.shortmenu .menuicon {
  font-size: 3rem;
}

.shortmenu div {
  font-weight: bold;
  margin-top: 0.5rem;
}
@media (max-width: 480px) {
  .category-menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .shortmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
