.category-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5%;
  width: 100%;
  height: auto;
}

.category-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shortmenu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 120px;
  text-align: center;
  margin: 1rem;
}

.shortmenu img {
  width: 50px;
  height: auto;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;

  background-color: rgba(163, 163, 163, 0.216);
}

.shortmenu .menu-text {
  font-weight: bold;
  margin-top: 0.5rem;
  line-height: 1.2;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .shortmenu {
    width: 80px;
    height: 100px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .shortmenu {
    width: 90px;
    height: 110px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .shortmenu {
    width: 100px;
    height: 120px;
  }
}
