.productlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filter-product {
  width: 100%;
  margin-bottom: 20px;
}

.product-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  max-width: 85%;
  padding: auto;
}

@media (max-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    max-width: 85%;
    padding: auto;
  }
}

@media (max-width: 480px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    max-width: 85%;
    padding: auto;
  }
}
