.productlist-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.filter-product {
  width: 100%;
  margin-bottom: 20px;
}
#product-select {
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.page-number {
  margin: 0 10px;
}
.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #ee5897;
  color: #ffffff;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  max-width: 920px;
  padding: auto;
}

@media (max-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    max-width: 85%;
    padding: auto;
  }
}

@media (max-width: 480px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    max-width: 85%;
    padding: auto;
  }
}
